<!DOCTYPE html>

<head>
    <title>APPNAME</title>
    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <p>Bem vindo ao APPNAME</p>
            </div>
        </div>
    </div>

    <br />
    <br />
</body>

<!-- Bootstrap JS-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</html>